.articles{
    display: -ms-flexbox;
    display: flex;
}

.card-columns{
    margin-top: 15vh;
    margin-left: 12rem;
    margin-right: 12rem;
}
.card-title{
    color: black;
}

.card{
    min-width: 18rem;
}