.JournalismAbout{
    padding-top: 10vh;
    padding-bottom: 3vh;
}

h1{
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 2vh;
}

p {
    margin-left: 5rem;
    margin-right: 5rem;
}