.navbar-dark{
    background-color: rgba(0, 0, 0, 0.9);
    align-content: center;
}

@media (max-width: 768px){
    .Icon{
        padding-left: 5vw;
        width: 25vw;
    }
}

.Icons {
    flex-direction: row !important;
}

.mr-auto{
    font-size:1rem;
}

.brand{
    font-family: "edo";
}

link:hover{
    text-decoration: none;
}

link{
    color: white;
}